<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Prediksi Diabetes</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">DiabetTest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form_predict">Prediksi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron" style="background-color: #DFE9AC;">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Welcome to DiabetTest website!</h1>
          <p>DiabetTest adalah platform prediksi khusus yang dirancang untuk membantu wanita dalam mengidentifikasi risiko mereka terkena diabetes. Dengan fokus pada faktor-faktor khusus yang mempengaruhi kesehatan wanita, kami memberikan prediksi untuk membantu Anda mengambil tindakan pencegahan yang tepat.
            Dengan menginputkan nilai pregnancies, glucose, blood pressure, skin thickness, insulin, BMI, diabetes pedigree function dan usia maka anda akan mengetahui hasil prediksinya</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/form_predict" role="button">Mulai Prediksi</a>
          </p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/images/pc1.png" class="img-fluid animated" alt="">
        </div>
      </div>
      </div>
    </div>

  </section>

  <div class="container-fluid pt-5 pb-5">
    <div class="container">
      <div class="row">        
        <div class="col-md-8">
        
          <h3>Apa itu penyakit diabetes?</h3>

          <p>Diabetes (diabetes melitus) adalah suatu penyakit metabolik yang diakibatkan oleh meningkatnya kadar glukosa atau gula darah. Gula darah sangat vital bagi kesehatan karena merupakan sumber energi yang penting bagi sel-sel dan jaringan.</p>

          <p>Jika tidak dikelola dengan baik, diabetes dapat menyebabkan terjadinya berbagai komplikasi, seperti penyakit jantung koroner, stroke, obesitas, serta gangguan pada mata, ginjal, dan saraf.</p>

          <p>Selain itu, diabetes juga dapat menyebabkan terjadinya fluktuasi kadar gula darah dalam tubuh. Hal ini dapat mengakibatkan penurunan (hipoglikemia) atau peningkatan kadar gula darah (hiperglikemia) secara tiba-tiba.</p>
          
        </div>
        <div class="col-md-4">
          
          <h3>Gejala penyakit diabetes:</h3>

          <ul>
            <li>Meningkatnya haus</li>
            <li>Sering buang air kecil</li>
            <li>Rasa lapar yang ekstrem</li>
            <li>Turun berat badan tanpa sebab</li>
            <li>Kelelahan</li>
            <li>Pandangan kabur</li>
            <li>Luka yang lama sembuh</li>
            <li>Sering mengalami infeksi, seperti pada gusi, kulit, vagina</li>
          </ul>      
              
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid bg-dark text-white mt-5" style="padding: 20px 0;">
    <div class="container">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <br>
              <h3>DiabetTest</h3>
              <p>
                A108 Adam Street <br>
                New York, NY 535022<br>
                United States <br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> DiabetTest@outlook.com<br>
              </p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <br>
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/form_predict">Prediksi</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/about">Team</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <br>
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <br>
              <h4>Our Social Networks</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="https://www.facebook.com/facebook/?brand_redir=103274306376166">Facebook</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="https://www.instagram.com/">Instagram</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="https://twitter.com/?lang=en-id">Twitter</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="https://www.linkedin.com/">Linkedin</a></li>
              </ul>
            </div>
  
  
          </div>
        </div>
      </div>
  
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>DiabetTest</span></strong>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        </div>
      </div>
    </footer><!-- End Footer -->
  
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

</body>

</html>